<% title 'Change your password' %>

<% form_for @user, :url => update_password_user_path(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :old_password %><br />
    <%= f.password_field :old_password %>
  </p>
  <p>
    <%= f.label :password, 'New password' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Change password' %>
    or <%= link_to 'Back to profile editing', edit_profile_path %>
  </p>
<% end %>
