<% content_for :head do %>
  <%= javascript_include_tag "markitup/jquery.markitup.js" %>
  <%= javascript_include_tag "markitup/sets/default/set.js" %>
  <link rel="stylesheet" type="text/css" href="/javascripts/markitup/skins/markitup/style.css" />
  <link rel="stylesheet" type="text/css" href="/javascripts/markitup/sets/default/style.css" />
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#post_body").markItUp(mySettings);
  });

</script>

<% form_for @post, :url => @post.new_record? ? admin_posts_path : admin_post_path(@post) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => "mceEditor" %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
