<div style="border-bottom: 1px solid; padding-bottom: 5px;">
  <p><%= link_to h(post.title), post %></p>
  <p><%= cut(post.body, post_path(post)) %></p>
  <div><%= link_to post.user.username, '#' %> at <em><%= post.created_at.strftime('%H:%M:%S %d.%m.%Y') %></em></div>

  <% unless post.tags.count.zero? %>
    <div class="tags">
      <ul class="inline">
        <% for tag in post.tags %>
          <li<%= " class='highlighted'" if @tag and @tag == tag%>>
            <%= link_to tag.name, tag_path(:name => tag.name) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if logged_in? and can? :update, post %>
    <ul class="inline">
      <li class="post_edit"><%= link_to "Edit", edit_post_path(post) %></li>
      <li class="post_delete"><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %></li>
    </ul>
  <% end %>
</div>
