<% title "In3blog" %>

<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, :action => 'feed', :format => :rss) %>
<% end %>

<% form_tag posts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% unless params[:search].blank? %>
  <p>Search results for <strong><%=h params[:search] %></strong></p>
<% end %>

<% if logged_in? and can? :create, Post %>
  <p class="post_new"><%= link_to "New Post", new_post_path %></p>
<% end %>

<%= render :partial => @posts %>

<div style="margin-top: 10px;">
  <%= will_paginate @posts %>
  Results per page
  <% [10, 20, 50].each do |count| %>
    <% if @posts.per_page == count %>
      <%= count %>
    <% else %>
      <%= link_to count, posts_path(request.query_parameters.merge(:per_page => count)) %>
    <% end %>
  <% end %>
</div>
