<% title h(@post.title) %>

<div>
  <%= strip_cut(@post.body) %>
</div>

<% unless @post.tags.count.zero? %>
  <div>
    <strong>Tags:</strong>
    <% for tag in @post.tags %>
      <span><%= link_to tag.name, tag_path(:name => tag.name) %></span>
    <% end %>
  </div>
<% end %>

<p>
  <%= link_to "View All", posts_path %>
  </p>

<% if logged_in? and can? :update, @post %>
  <ul class="inline">
    <li class="post_edit"><%= link_to "Edit", edit_post_path(@post) %></li>
    <li class="post_delete"><%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %></li>
  </ul>
<% end %>

<% display_comments(@post) do |post| %>
  <a name="comments"></a>
  <h2>Comments (<span id="comments_count"><%= post.comments.count %></span>)</h2>
<%end%>

<% if @post.comments_enabled %>
  <div id="comment_form">
      <%= render :partial => 'comments/form', :locals => { :comment => Comment.new } %>
  </div>
<% end %>

<% display_comments(@post) do |post| %>
  <div id="comments">
    <%= render :partial => post.comments %>
  </div>
<% end %>
