<% title "Menu Item" %>

<p>
  <strong>Name:</strong>
  <%=h @menu_item.name %>
</p>
<p>
  <strong>Url:</strong>
  <%=h @menu_item.url %>
</p>
<p>
  <strong>Position:</strong>
  <%=h @menu_item.position %>
</p>

<p>
  <%= link_to "Edit", edit_menu_item_path(@menu_item) %> |
  <%= link_to "Destroy", @menu_item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", menu_items_path %>
</p>
